# Auto detect text files and perform LF normalization
* text=auto
<a href="C:\Users\diy\Desktop\柳凤\GitHub\demo\06-14\word.html">0614文字搬运</a>
<a href="C:\Users\diy\Desktop\柳凤\GitHub\demo\06-15【替换查找】\change.html">0615查找替换</a>
